.page-item .page-link {
  border: 0;
  padding: 0;
}

.page-item .page-link:hover {
  background: transparent;
  color: inherit;
}
.pagination-text {
  margin:0 30px;
}
.pagination-text,
.page-item .page-link {
  font-size: 15px;
  color: #000;
  font-weight: 500;
}

@media all and (max-width: 567px) {
  .pagination-text {
    margin:0 10px;
  }
  .pagination-text,
  .page-item .page-link {
    font-size: 12px;
  }
}